{%load static %}
<!DOCTYPE html>
<html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
            <!--titulo de aca pagina en concreto-->
            {% endblock %}
            |- ADSO SENA 
        </title>
        {%load static %}
        <link rel="stylesheet" href="{%static 'css/styles.css' %}"/>
    </head>
    <body>
        <!--Cabecera de la Pagina-->
        <header>
            <div id="logotipo"> <!--Se usa id porque sera algo que estara una vez en la pagina-->
                <!--Logo Django-->
                <img src="{%static 'images/logo.png'%}"/>
                <h1>Proyecto con Django</h1>
            </div>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'index' %}">Inicio</a>
                </li>
                {% if user.email %}
                    <li>
                        <a href="{% url 'list_articles' %}">Categorias</a>
                            <ul>
                                {% for category in categories %}
                                <li>
                                    <a href="{% url 'category' category.0 %}">{{category.1}}</a>
                                </li>
                                {% endfor %}

                            
                            </ul>
                    </li>
                    {% for page in pages %}
                    <li>
                        <a href="{% url 'page' page.2 %}">{{page.1}}</a>
                    </li>
                    {% endfor %} 
                    <li>
                        <a href="{% url 'logout' %}">Cerrar sesion</a>
                    </li>
                {% else %}   
                    <li>
                        <a href="{% url 'register' %}">Registro</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
        </nav>
            <div id="content">
                <div class="box">
                
                    <h2 class= "tittle"></h2>
                    {% block content %}
                    <strong>Contenido del Bloque Original</strong>
                    {% endblock %}
                </div>
            </div>
        <footer>
            Programacion con Django - ADSO 2023 &copy; Instructor Moises Garcia - {% now "d/m/Y h:m00"%}
        </footer>
    </body>
</html>