{% extends 'layout.html' %}
{% block title %} Formularios en Django {%endblock%}
{% block content %}
<h1 class="title"> Formularios en Django</h1>
{% if form.errors %}
    <strong class="rojo">   
        Hay errores en el Formulario
    </strong>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}

    <!--Aqui mostramos los formularios mandando a llamar
    la variable form que se creo en la vista-->
    {{ form.as_p }} <!--el as_p mete todos los campos dentro de una etiqueta de parrafo-->

    <!--Boton-->
    <input type="submit" value="guardar" />
</form>
{% endblock %}