{% extends 'layout.html' %}
{% block title %} Formularios en Django {% endblock %}
{% block content %}
<h1 class="title"> Formularios en Django</h1>

<form action="{% url 'save' %}" method="POST">
    {% csrf_token %}
    <!--Campo titulo-->
    <label for="title"> Titulo </label>
    <input type="text"name="title"/>
    <!--Campo Contenido-->
    <label for="content">Contenido</label>
    <textarea name="content"> </textarea>
    <!--Campo Publicado-->
    <label for="public"> Publicado</label>
    <select name="public">
        <option value="1">Si</option>
        <option value="0">No</option>
    </select>
    <!--Boton-->
    <input type="submit" value="guardar" />
</form>
{% endblock %}